
* {
    margin: 0;
    padding: 0;
    color: #0B1F3FFF;
    background-color: #ffff;
    font-family: 'Montserrat', sans-serif;
}

*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #0B1F3FFF;
    justify-content: center;
}

.title p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
    position: relative;
    display: inline;
    margin-top: 5px;
    background-color: #0B1F3FFF;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}

.navigator {
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.navigator .logo_fila img {
    height: 20px;
    width: 60px;
    margin-top: 15px;
    margin-left: 25px;

}

.logo_basket {
    margin-right: 15px;
    margin-top: 15px;
}

.logo_basket .img_basket {
    width: 20px;

}


.nav ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 50px;

}

.nav ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0 20px;
    letter-spacing: 0.5px;
}

.nav ul li a:after {
    content: '';
    position: absolute;
    background-color: #0B1F3FFF;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.9s;
}

.nav ul li a:hover:after {
    width: 100%;

}

/* ----------------------  basket */
.nav-right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.nav-right li {
    list-style: none;
    margin: 0 15px;
    color: #555;
    font-size: 25px;
    padding: 8px 20px;
}

.cart {
    position: relative;
}

.cart:before {
    position: absolute;
    content: attr(data-count);
    width: 23px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    border-radius: 15px;
    top: -10px;
    text-align: center;
    background: red;
    color: #FFFFFF;
    cursor: pointer;
    opacity: 0;
}

.cart.on:before {
    opacity: 1;
}

/*--------basket-------*/

.select {
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    height: 450px;
    background: #ccc;
    position: fixed;
    top: -1000px;
    left: 20%;
    transition: 0.5s;
    overflow: auto;
    margin: auto;
    opacity: 1;
}

.select.display {
    top: 10px;
}

.select .product_block {
    margin: 20px;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;

}


.select .product_block .product_price div {
    display: none;
}


/*--------------------  search-------------*/
.boxContainer {
    margin-top: 10px;
    position: relative;
    width: 250px;
    height: 25px;
    border: 4px solid #0b1f44;
    padding: 3px 10px;
    border-radius: 50px;
}

.elementContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    border-radius: 50px;
    font-size: 18px;

}

#search:focus {
    outline: none;
}

.fa-solid {
    cursor: pointer;
    font-size: 20px;
    color: #22569d;
}

/*-----------------------*/
.mainBlock {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fa-regular {
    display: none;
}

.product_images {
    height: 360px;
    width: 250px;
    transition: 0.7s;
    box-shadow: 3px 4px 10px #0b1f44;
}

.product_images:hover {
    transform: scale(1.05);
}

.product_block {
    position: relative;
}

.product_title {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    text-align: left;
    font-weight: bold;
    color: #0B1F3FFF;
    margin-bottom: 5px;
    margin-top: 5px;
}

.product_price {
    position: relative;
    font-weight: bold;
    color: #0B1F3FFF;
}

.addCards {
    padding: 2px;
    margin-top: 3px;
    border-radius: 3px;
    font-weight: bold;
}

.addCards:hover {
    cursor: pointer;
    color: #22569d;
}


/*-------- footer*/

.footer {
    background-color: #0B1F3FFF;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}